#sddm {	
	margin: 0;
	padding: 0;
	z-index: 50;
}

#sddm li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 11px Verdana;
	z-index: 31;
	border: 1px solid transparent;
}

#sddm li a {	
	display: block;
	margin: 0 1px 0 0;
	padding: 4px 10px;
	background: transparent;
	color: #000;
	text-align: center;
	text-decoration: none;
	z-index: 32;
}

.menu_ativo {	
	border: 1px solid #000;
	background: url(bg_ativo.jpg) 0 0;
	line-height:11px;
}


#sddm div {
	position: absolute;
	visibility: hidden;
	margin: 3px 0 0 0;
	padding: 0;
	border: 1px solid #000;
	background: #fff;
	z-index: 35;
}

#sddm div a {
	position: relative;
	display: block;
	margin: 0;
	padding: 4px 8px;
	width: 200px;
	text-align: left;
	text-decoration: none;
	background: #fff;
	color: #000;
	font: 11px Verdana;
	z-index: 36;
}

#sddm div a:hover {	
	background: #000;
	color: #FFF;
	z-index: 37;
}