.combo_novo_float {

	display:none;
	text-decoration: none;
	background: #fff;	
	border: 1px solid #c8d7e3;
	width:100%;
	position:absolute;
	/*height:20px;*/

}
.combo_novo_invisivel {

	border:1px solid;
	position:relative;
	clear:both;
	visibility:hidden;
	color: #000000;	font-size: 11px; font-family: Verdana;  font-weight: normal;font-weight: bold;  text-decoration: none;
}

.combo_novo_tudo { display: table; width:100%}
.combo_novo_esquerda { float: left; text-align:left; width: 80%; }
.combo_novo_direita { float: right; text-align:right; width: 20%; }


.combo_novo {
	display:none;
	text-decoration: none;
	background: #fff;	
	border: 1px solid #c8d7e3;
	height:100%;
}


.combo_novo_normal {
	color: #000000;	font-size: 11px; font-family: Verdana;  font-weight: normal;font-weight: bold;  text-decoration: none;
}

.combo_novo_ativo {
	color: #5355ad; font-size: 14px; font-family: Verdana; font-weight: bold; text-decoration: none;
}

.combo_net {
	display: none;
	position:absolute;
}

.combo_net_trava {
	background: black; 	
	-moz-opacity: 0.6; 
	FILTER: alpha (opacity=60); 
	opacity: .6;
	position:absolute; 
	display:none;
	top:0;
	left:0;
}
.invisivel {
	display: none;
}

.rel {
        color: #000000;	font-size: 11px;	font-family: Verdana;
}

.relatorio {
        color: #000000;	font-size: 11px;	font-family: Verdana; font-weight: bold; 
}


input, select {
	font: 11px Verdana; 
	background:#ffffff;
}

form{
	padding: 0;
	margin: 0;	
}


label 	{	text-align:left; font: bold 11px Verdana; padding-top: 5px;	}
.label 	{	text-align:left; font: bold 11px Verdana;}
.tamanho_1 	{	text-align:left; width: 	9%;	}
.tamanho_2 	{	text-align:left; width: 19%;	}
.tamanho_3 	{	text-align:left; width: 29%;	}
.tamanho_4 	{	text-align:left; width: 39%;	}
.tamanho_5 	{	text-align:left; width: 49%;	}
.tamanho_6 	{	text-align:left; width: 59%;	}
.tamanho_7 	{	text-align:left; width: 69%;	}
.tamanho_8 	{	text-align:left; width: 79%;	}
.tamanho_9 	{	text-align:left; width: 89%;	}
.tamanho_10	{	text-align:left; width: 99%;	}
.divisor	{	text-align:left; width:	1%;	}
.campo_formulario	{		width:100%; border:1px solid #c8d7e3; }
.campo_simples		{	border:1px solid #c8d7e3; }
.field {	font: bold 10px Verdana; padding: 5px; border:1px solid #c8d7e3; width:97%; }

legend{ color: #000; background: #c8d7e3; border: 1px solid #c8d7e3; padding: 2px 16px; }

.msg_status {
	font-size: 11px;
	height:25px;
	margin-top: 10px;
	font-size: 11px;	font-family: Verdana;  
	font-weight: bold; 
}

.campo_texto {
	font: 11px Verdana; 
}


.campo_descricao {
	font: bold 11px Verdana; 
}

.paginar, .paginar a {
	font: 10px Verdana;
	color: #3a3d44;
	font-weight: bold;
	text-decoration: none;
	text-align:center;
}



TABLE.grid {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10px; COLOR:#000000;
}

TABLE.grid TD {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; VERTICAL-ALIGN: top; PADDING-TOP: 2px
}

TABLE.grid TR.claro {
	BACKGROUND: #dde9f0;
}
TABLE.grid TR.claro:hover {
	BACKGROUND: #b4cae9; 
}

TABLE.grid TR.escuro {
	BACKGROUND: #dbdfe1
}
TABLE.grid TR.escuro:hover {
	BACKGROUND: #b4cae9; 
}

TABLE.grid TR.barra {
	FONT-WEIGHT: bold;
	background: #fff url(../imagens/streamsc.gif) repeat-x 0 0;
}

table.grid tr, table.grid tr a {
	text-decoration: none;
	COLOR:#000000;
}


/*
table.grid {
	border: 1px solid #fff;
}

table.grid tr, table.grid tr a {
	height: 10px;
	font: 10px Verdana;
	font-weight: bold;
	color: #3a3d44;
	text-decoration: none;
	height: 20px;
}

table.grid tr.barra {
	background: #fff url(../imagens/streamsc.gif) repeat-x 0 0;
	font-weight: bold;
	color: #3a3d44;
	text-decoration: none;
	
	
}

table.grid tr.escuro {
	background-color: #dbdfe1;
	font-weight: bold;
}
table.grid tr.claro {
	background: #dde9f0;
}

table.grid tr:hover {
	background: #ffffff ;
}
table.grid tr:active {
	background: #fff url(../imagens/streamsc.gif) repeat-x 0 -20px;
}
*/


/* Abas*/

.aba {padding:5px 0 0 1em; margin:0; list-style:none; height:30px; position:relative; background:transparent url(../imagens/abas/aba2Inativa.gif) repeat-x left bottom; font-size:10px;}
.aba li {float:left; height:30px; margin-right:1px;}
.aba li a {display:block; float:left; height:30px; line-height:25px; color:#333; text-decoration:none; font-family:arial, verdana, sans-serif; font-weight:bold; text-align:center; padding:0 0 0 4px; cursor:pointer; background:url(../imagens/abas/aba0Inativa.gif) no-repeat;}
.aba li a b {float:left; display:block; padding:0 7px 5px 4px; background:url(../imagens/abas/aba1Inativa.gif) no-repeat right top;}
.aba li.current a {color:#000; background:url(../imagens/abas/aba0Ativa.gif) no-repeat;}
.aba li.current a b {background:url(../imagens/abas/aba1Ativa.gif) no-repeat right top;}
.aba li a:hover {color:#000; background: url(../imagens/abas/aba0Hover.gif) no-repeat;}
.aba li a:hover b {background:url(../imagens/abas/aba1Hover.gif) no-repeat right top;}
.aba li.current a:hover {color:#000; background: url(../imagens/abas/aba0Ativa.gif) no-repeat; cursor:default;}
.aba li.current a:hover b {background:url(../imagens/abas/aba1ativa.gif) no-repeat right top;} 

.button {
	width: 100%;
	color: #363636;
}

.lblbutton {	
	margin: 10px 0 0 0;
	padding: 0 0 0 2px;
	background: #fff url(../imagens/botao.gif) no-repeat 0 0;
}

.lblbutton .button {
	border: 0;
	padding: 0 2px 0 0;
	background: #fff url(../imagens/botao.gif) no-repeat top right;
	height: 26px;
}

input.button:hover {
	cursor:pointer;
	background: #fff url(../imagens/botaoHover.gif) no-repeat top right;
}
