html {
background:#ffffff;
}
body {
background:#ffffff;
}

.tab {

}

.invisivel {
	display: none;
}

.rel {
        FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px; COLOR:#000000;
        height:18px; vertical-align:top;
}

.relatorio {
        FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px; COLOR:#000000;
		height:18px; vertical-align:top;
}


input, select {
	font: 11px Verdana; 
}


.campo_texto {
	font: 11px Verdana; 
}


.campo_descricao {
	font: bold 11px Verdana; 
}


TABLE.table {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10px; COLOR:#000000;
	border: 1px;
	border-style: solid; 
	border-collapse: collapse;
	width:97%;
}

TABLE.table TD {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; VERTICAL-ALIGN: top; PADDING-TOP: 2px;
	height:18px; 
	border: 1px solid;
}

TABLE.table TR {
	BACKGROUND: #fff;
		border-right: 1px solid;
	border-left: 1px;

}
TABLE.table TR.claro:hover {
	BACKGROUND: #fff; 
}

TABLE.table TR.escuro {
	BACKGROUND: #fff
}
TABLE.table TR.escuro:hover {
	BACKGROUND: #fff; 
}

TABLE.table TH {
	FONT-WEIGHT: bold;
	background: #fff;
	border-bottom-width: 2px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;

	border-style: solid; 
	border-collapse: collapse;
	
}

table.table tr, table.table tr a {
	text-decoration: none;
	COLOR:#000000;
}

.smart-form fieldset {	font: bold 12px Verdana; padding: 5px; border:1px solid #000000; width:97%; }
.smart-form legend { padding-top: 5px; padding-left:5px; padding-right:5px; }

/* A COR DO FIELDSET NORMALMENTE EH CINZA. AQUI COLOCO PRA PRETO*/
.smart-form { color:#000; }
/* A DISTANCIA DO CAMPO DE BAIXO DEVE SER MENOR NA IMPRESSAO */
.smart-form section {   margin-bottom: 5px; }

.field {	font: bold 12px Verdana; padding: 5px; border:1px solid #000000; width:97%; }

legend{ color: #000; background: #fff; border: 1px solid #c8d7e3; padding: 2px 16px; border:1px solid #000000; }
