.DHTMLSuite_menuBar_top{	/* The bar that is parent of the menu strip */
	font: bold 12px "Arial", Tahoma, Verdana, sans-serif;
	color: #000;
	z-index:100000;
	padding-left:30px;
}

.DHTMLSuite_menuBar_sub{
	position:absolute;
	background-color:#FFF;
	border:1px solid #000;
	display:inline;
	font: bold 12px "Arial", Tahoma, Verdana, sans-serif;
	color: #000;
}

